.header {
    background-color: var(--dark-green-15);
    padding: 19px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-decoration: none;

}

.logo img {
    margin-right: 140px;
}

.header__inner {
    padding-left: 64px;
    padding-right: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__list {
    display: flex;;
    gap: 24px;
}

.header__link {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: color 0.4s, border 0.4s;
    padding: 2px;

}

.header__link:hover {
    color: gray;
    transition: .5s;
}



.header__link:hover svg path {
    fill: gray;
    fill-opacity: 1;
    transition: 0.5s;
}


.header__contact {
    margin-left: 252px;
    border-radius: 8px;
    background-color: var(--green-70);
    padding: 14px 24px;
    color: var(--black);
    border: 1px solid transparent;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.header__contact:hover {
    background-color: transparent;
    color: var(--white);
    border-color: var(--green-70);
}

.header__contact {
    background-color: #C9FF2A;
    color: #11111D;
    padding: 10px 20px;
}

.header__contact:hover {
    background-color: #11111D;
    color: #C9FF2A;
}